<div class="col-xl-3 order-xl-1 order-2">
    <div class="auction-sidebar">
        <form>
            <div class="single-widget mb-30">
                <div class="search-box">
                    <input type="text" placeholder="Search">
                    <button type="submit"><i class="bx bx-search"></i></button>
                </div>
            </div>
            <div class="single-widget mb-30">
                <h5 class="widget-title">Category</h5>
                <div class="checkbox-container">
                    <ul>
                        <li>
                            <label class="containerss">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Automotive</span>
                            </label>
                        </li>
                        <li>
                            <label class="containerss">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Antiques</span>
                            </label>
                        </li>
                        <li>
                            <label class="containerss">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Digital Art</span>
                            </label>
                        </li>
                        <li>
                            <label class="containerss">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Books & Comic</span>
                            </label>
                        </li>
                        <li>
                            <label class="containerss">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Old Coin</span>
                            </label>
                        </li>
                        <li>
                            <label class="containerss">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Gadget and Technology</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="single-widget mb-30">
                <div class="single-search-box">
                    <div class="searchbox-input">
                        <label>Condition</label>
                        <div class="custom-select-dropdown">
                            <div class="select-input">
                                <input type="text" readonly value="New">
                                <i class="bi bi-chevron-down"></i>
                            </div>
                            <div class="custom-select-wrap two">
                                <ul class="option-list">
                                    <li class="single-item">
                                        <h6>New</h6>
                                    </li>
                                    <li class="single-item">
                                        <h6>Used</h6>
                                    </li>
                                    <li class="single-item">
                                        <h6>Refurbished</h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>