@using Domain.DTO.UIDtos
@model List<NewsDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-section" style="background-image: url(../assets/img/inner-pages/breadcrumb-bg1.png), linear-gradient(87.29deg, #FDF8E7 0%, #E4FFF0 99.71%);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="banner-content">
                    <h1>Blogs</h1>
                    <ul class="breadcrumb-list">
                        <li><a href="/Home/Index">Home</a></li>
                        <li>Blogs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb section -->
<!-- Start Blog section -->
<div class="blog-grid-section pt-110 mb-110">
    <div class="container">
        <div class="row g-4 mb-60">
            @foreach (var item in Model){
            <div class="col-lg-4 col-md-6 wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="blog-card">
                    <div class="blog-card-img-wrap">
                        <a href="/News/Details/@item.Id" class="card-img">
                                <img src="@item.PrivewImageUrl" alt="">
                        </a>
                        <div class="batch">
                            <a  class="date">
                               @item.Date
                            </a>
                        </div>
                    </div>
                    <div class="card-content">
                            <h4><a href="/News/Details/@item.Id">@item.Name</a></h4>
                            <a class="view-button" href="/News/Details/@item.Id">
                            Read More
                            <svg viewBox="0 0 13 20">
                                <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5"></polyline>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>