@using Domain.Common
@using Domain.DTO.AdminDtos
@model TableDto<CategoryDto>
@{
    ViewData["Title"] = "الفئات";
}
<div id="app">
    <div class="card">
        @await Html.PartialAsync("~/Views/Shared/_TablePageHeader.cshtml", new TablePageHeader(Model.Search, true))
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>الاسم</th>
                        <th>الاجراءات</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.DataList)
                    {
                        <tr>
                            <td><strong>@item.Name</strong></td>
                            <td class="align-middle">
                                @await Html.PartialAsync("~/Views/Shared/_Procedures.cshtml",
                                         new ProceduresButtons { HasDelete = true, HasEdit = true, Id = item.Id.ToString() })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @await Html.PartialAsync("~/Views/Shared/_PaginationPartialView.cshtml", new TableDto { TotalCount = Model.TotalCount, PageNumber = Model.PageNumber, Search = Model.Search })
    </div>
    @await Html.PartialAsync("~/Views/Shared/_DeleteModal.cshtml")
    <input hidden id="deleteId" />
</div>