@model Domain.DTO.AdminDtos.DriverDto
@{
    ViewData["Title"] = "انشاء تاجر جديد";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}
<div class="container-xxl flex-grow-1 container-p-y" id="app">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">الرئيسية/</span>انشاء تاجر جديد</h4>
    <div class="row">
        <div class="col-12-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0"></h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">الاسم</label>
                            <input type="text" name="Name" id="Name" class="form-control" placeholder="ادخل الاسم">
                        </div>
                         <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">البريد الالكتروني</label>
                            <input type="text" class="form-control" name="Email" id="Email" placeholder="ادخل البريد الالكتروني" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">رقم الهاتف</label>
                            <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="ادخل رقم الهاتف">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">العنوان</label>
                            <input type="text" class="form-control" name="Address" id="Address" placeholder="ادخل العنوان" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">صورة الملف الشخصي</label>
                            <input type="file" class="form-control" name="ProfileImage" id="ProfileImage" placeholder="ارفق صورة الملف الشخصي" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">صورة الهوية</label>
                            <input type="file" class="form-control" name="IdImage" id="IdImage" placeholder="ارفق صورة الهوية" required>
                        </div>
                        <div class="mb-3" id="CategoryDiv">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">المسار</label>
                            <select class="form-select" name="RouteId" id="RouteId" style="width:100%">
                                <option value="0">اختر المسار</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary d-inline" id="CreateButton" onclick="CreateData()">انشاء</button>
                        <button class="btn btn-primary d-none" type="button" id="LoadingButton" disabled>
                            <span class="spinner-border me-1" role="status" aria-hidden="true"></span>
                            جاري الانشاء ...
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
        GetRoutes();
    });
    function CreateData() {
        var Name = $('#Name').val();
        var Email = $('#Email').val();
        var Address = $('#Address').val();
        var RouteId = $('#RouteId').val();
        var PhoneNumber = $('#PhoneNumber').val();
        var ProfileImage = document.getElementById("ProfileImage").files;
        var IdImage = document.getElementById("IdImage").files;

        if (!Name && !MainDescription) {
            OpenMessageModal("warning", "الرجاء ادخال الحقول المطلوبة");
            return false;
        }

        ShowLoadingButton("CreateButton", "LoadingButton");

        var formData = new FormData();
        formData.append("Name", Name);
        formData.append("Email", Email);
        formData.append("Address", Address);
        formData.append("RouteId", RouteId);
        formData.append("PhoneNumber", PhoneNumber);
        formData.append("ProfileImage", ProfileImage[0]);
        formData.append("IdImage", IdImage[0]);

        Create("@controller", formData);
    }
</script>