@model Domain.DTO.AdminDtos.ItemDto
@{
    ViewData["Title"] = "انشاء سلعة جديد";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}
<div class="container-xxl flex-grow-1 container-p-y" id="app">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">الرئيسية/</span>انشاء سلعة جديد</h4>
    <div class="row">
        <div class="col-12-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0"></h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">الاسم</label>
                            <input type="text" name="Name" id="Name" class="form-control" placeholder="ادخل الاسم">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">الشرح</label>
                            <input type="text" class="form-control" name="Description" id="Description" placeholder="ادخل الشرح" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">العلامة التجارية</label>
                            <input type="text" class="form-control" name="Brand" id="Brand" placeholder="ادخل العلامة التجارية" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">السعر</label>
                            <input type="text" name="Price" id="Price" class="form-control" placeholder="ادخل السعر">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">رمز السلعة</label>
                            <input type="text" class="form-control" name="SKU" id="SKU" placeholder="ادخل رمز السلعة" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">العلامات</label>
                            <input type="text" class="form-control" name="Tags" id="Tags" placeholder="ادخل العلامات" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">الوزن</label>
                            <input type="text" class="form-control" name="Weight" id="Weight" placeholder="ادخل الوزن" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">الابعاد</label>
                            <input type="text" class="form-control" name="Dimensions" id="Dimensions" placeholder="ادخل الابعاد" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">سعر البدء</label>
                            <input type="text" class="form-control" name="StartingPrice" id="StartingPrice" placeholder="ادخل سعر البدء" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">عدد مرات المزايدة</label>
                            <input type="text" class="form-control" name="NumberOfBids" id="NumberOfBids" placeholder="ادخل عدد مرات المزايدة" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">سعر المزاد الحالي</label>
                            <input type="text" class="form-control" name="CurrentBiddingPrice" id="CurrentBiddingPrice" placeholder="ادخل سعر المزاد الحالي" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">تاريخ البدء</label>
                            <input type="date" class="form-control" name="StartDate" id="StartDate" placeholder="ادخل تاريخ البدء" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">تاريخ الانتهاء</label>
                            <input type="date" class="form-control" name="EndDate" id="EndDate" placeholder="ادخل تاريخ الانتهاء" required>
                        </div>
                        <div class="mb-3" id="CategoryDiv">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">الفئة</label>
                            <select class="form-select" name="CategoryId" id="CategoryId" style="width:100%">
                                <option value="0">اختر الفئة</option>
                            </select>
                        </div>
                        <div class="mb-3" id="CategoryDiv">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">التاجر</label>
                            <select class="form-select" name="SellerId" id="SellerId" style="width:100%">
                                <option value="0">اختر التاجر</option>
                            </select>
                        </div>


                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">صورة العرض</label>
                            <input type="file" class="form-control" name="PrivewImage" id="PrivewImage" placeholder="ارفق صورة العرض" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">صورة التفاصيل</label>
                            <input type="file" class="form-control" name="DetailsImage" id="DetailsImage" placeholder="ارفق صورة الخلفية" required>
                        </div>
                        
                        <button type="button" class="btn btn-primary d-inline" id="CreateButton" onclick="CreateData()">انشاء</button>
                        <button class="btn btn-primary d-none" type="button" id="LoadingButton" disabled>
                            <span class="spinner-border me-1" role="status" aria-hidden="true"></span>
                            جاري الانشاء ...
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
     $(document).ready(function () {
              GetCategories();
              GetSellers();
    });
    function CreateData() {
        var Name = $('#Name').val();
        var Description = $('#Description').val();
        var Brand = $('#Brand').val();
        var Price = $('#Price').val();
        var SKU = $('#SKU').val();
        var Tags = $('#Tags').val();
        var Weight = $('#Weight').val();
        var Dimensions = $('#Dimensions').val();
        var NumberOfBids = $('#NumberOfBids').val();
        var StartingPrice = $('#StartingPrice').val();
        var CurrentBiddingPrice = $('#CurrentBiddingPrice').val();
        var CategoryId = $('#CategoryId').val();
        var SellerId = $('#SellerId').val();
        var StartDate = $('#StartDate').val();
        var EndDate = $('#EndDate').val();
        var PrivewImage = document.getElementById("PrivewImage").files;
        var DetailsImage = document.getElementById("DetailsImage").files;

        if (!Name || !Description  || SellerId == 0) {
            OpenMessageModal("warning", "الرجاء ادخال الحقول المطلوبة");
            return false;
        }

        ShowLoadingButton("CreateButton", "LoadingButton");

        var formData = new FormData();
        formData.append("Name", Name);
        formData.append("Description", Description);
        formData.append("Brand", Brand);
        formData.append("Price", Price);
        formData.append("SKU", SKU);
        formData.append("Tags", Tags);
        formData.append("Weight", Weight);
        formData.append("Dimensions", Dimensions);
        formData.append("NumberOfBids", NumberOfBids);
        formData.append("StartingPrice", StartingPrice);
        formData.append("CurrentBiddingPrice", CurrentBiddingPrice);
        formData.append("CategoryId", CategoryId);
        formData.append("SellerId", SellerId);
        formData.append("StartDate", StartDate);
        formData.append("EndDate", EndDate);
        formData.append("PrivewImage", PrivewImage[0]); 
        formData.append("DetailsImage", DetailsImage[0]); 


        Create("@controller", formData);
    }
</script>