@{
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}
<div class="modal fade" id="deleteConfirm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="modalCenterTitle">Are you sure you want to delete?</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger d-inline deleteButton" onclick="Delete('@controller')">Delete</button>
                <button class="btn btn-danger d-none deleteLoadingButton" type="button" disabled>
                    <span class="spinner-border me-1" role="status" aria-hidden="true"></span>
                    Deleting...
                </button>
            </div>
        </div>
    </div>
</div>