@using Domain.Entities
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "DashboardChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="dashboard-section pt-110 mb-110">
    <div class="container">
        <div class="dashboard-wrapper">
            @await Html.PartialAsync("~/Views/Account/_DashboardSideBar.cshtml")
            <div class="dashboard-content-wrap two">
                <div class="change-pass-wrap">
                    <div class="edit-info-area">
                        <h6>Update Your Password</h6>
                        <form asp-action="ChangePassword" method="post">
                            <div class="row">
                                <div class="col-md-12 mb-50">
                                    <div class="form-inner">
                                        <label>Current Password</label>
                                        <input asp-for="CurrentPassword" type="password" class="form-control" />
                                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-30">
                                    <div class="form-inner">
                                        <label>New Password</label>
                                        <input asp-for="NewPassword" type="password" class="form-control" />
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-60">
                                    <div class="form-inner">
                                        <label>Confirm Password</label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <button class="primary-btn btn-hover two" type="submit">
                                Change Password
                                <span></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Dashboard section -->