
@{
    ViewData["Title"] = "DashboardSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Dashboard section -->
<div class="dashboard-section pt-110 mb-110">
    <div class="container">
        <div class="dashboard-wrapper">
            @await Html.PartialAsync("~/Views/Account/_DashboardSideBar.cshtml")
            <div class="dashboard-content-wrap two">
                <div class="settings-wrap">
                    <div class="edit-info-area">
                        <h6>Edit Your Information</h6>
                        <form class="edit-info-form">
                            <div class="row">
                                <div class="col-md-6 mb-30">
                                    <div class="form-inner">
                                        <label>First Name</label>
                                        <input type="text" placeholder="Md. Rofiqul">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-30">
                                    <div class="form-inner">
                                        <label>Last Name</label>
                                        <input type="text" placeholder="Islam">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-50">
                                    <div class="form-inner">
                                        <label>Your Address</label>
                                        <input type="text" placeholder="House 168/170, Road 02, Avenue 01, Mirpur DOHS, Dhaka, Bangladesh">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-30">
                                    <div class="verify-area">
                                        <div class="form-inner">
                                            <label>Email Address</label>
                                            <input type="email" placeholder="shimanto.nits@gmail.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-60">
                                    <div class="verify-area">
                                        <div class="form-inner">
                                            <label>Phone Number</label>
                                            <input type="text" placeholder="+880 179 671 3831">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="primary-btn btn-hover two">
                                Save Changes
                                <span></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Dashboard section -->