
@{
    ViewData["Title"] = "DashboardPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Breadcrumb section -->
<div class="breadcrumb-section" style="background-image: url(../assets/img/inner-pages/breadcrumb-bg1.png), linear-gradient(87.29deg, #FDF8E7 0%, #E4FFF0 99.71%);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="banner-content">
                    <h1>Profile</h1>
                    <ul class="breadcrumb-list">
                        <li><a href="/Home/Index">Home</a></li>
                        <li>Profile </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb section -->
<!-- Start add payment modal section -->
<div class="modal fade add-payment-modal" id="addPaymentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="close-btn" data-bs-dismiss="modal">
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new credit/debit card</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row g-4">
                        <div class="col-md-12">
                            <div class="form-inner">
                                <label>Card Number</label>
                                <input type="text" placeholder="1234  1234  1234  1234">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inner">
                                <label>Expiration date</label>
                                <input type="text" placeholder="MM/YEAR">
                            </div>
                        </div>
                        <div class="col-md-6 mb-20">
                            <div class="form-inner">
                                <label>CVV</label>
                                <input type="text" placeholder="CVC">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-inner">
                                <button class="primary-btn btn-hover" type="submit">
                                    Add Payment
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End add payment modal section -->
<!-- Start Dashboard section -->
<div class="dashboard-section pt-110 mb-110">
    <div class="container">
        <div class="dashboard-wrapper">
            @await Html.PartialAsync("~/Views/Account/_DashboardSideBar.cshtml")

            <div class="dashboard-content-wrap">
                <div class="payment-wrap">
                    <h6>Manage your Payment Methods</h6>
                    <div class="payment-content-wrap">
                        <div class="saved-card-area">
                            <div class="single-card">
                                <img src="../../assets/img/inner-pages/dashboard-payment-card-img.png" alt="">
                                <div class="card-details">
                                    <h6>John Smith</h6>
                                    <span>4143  **** **** **62</span>
                                </div>
                            </div>
                            <div class="add-payment-area">
                                <div class="add-btn" data-bs-toggle="modal" data-bs-target="#addPaymentModal">
                                    <svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.9992 30C13.8733 30 12.9609 29.0877 12.9609 27.9617V2.03826C12.9609 0.912327 13.8733 0 14.9992 0C16.1251 0 17.0375 0.912327 17.0375 2.03826V27.9617C17.0375 29.0877 16.1251 30 14.9992 30Z" />
                                        <path d="M27.9617 17.0382H2.03826C0.912327 17.0382 0 16.1259 0 14.9999C0 13.874 0.912327 12.9617 2.03826 12.9617H27.9617C29.0877 12.9617 30 13.874 30 14.9999C30 16.1259 29.0877 17.0382 27.9617 17.0382Z" />
                                    </svg>
                                    <span>Add Payment Method</span>
                                </div>
                            </div>
                        </div>
                        <div class="payment-options">
                            <h6>Payment On Your</h6>
                            <ul>
                                <li><img src="../../assets/img/inner-pages/icon/visa.svg" alt=""></li>
                                <li><img src="../../assets/img/inner-pages/icon/american-express.svg" alt=""></li>
                                <li><img src="../../assets/img/inner-pages/icon/discover.svg" alt=""></li>
                                <li><img src="../../assets/img/inner-pages/icon/mastercard.svg" alt=""></li>
                                <li><img src="../../assets/img/inner-pages/icon/stripe.svg" alt=""></li>
                                <li><img src="../../assets/img/inner-pages/icon/paypal.svg" alt=""></li>
                                <li><img src="../../assets/img/inner-pages/icon/skrill.svg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>